<configuration>

    <!-- Logs folder -->
    <property name="LOG_PATH" value="logs"/>

    <appender name="ROLLING_FILE"
              class="ch.qos.logback.core.rolling.RollingFileAppender">

        <!-- Active file (current writing) -->
        <file>${LOG_PATH}/application.log</file>

        <!-- Size based rolling with timestamp -->
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>
                ${LOG_PATH}/application.%d{yyyy-MM-dd_HH-mm-ss}.%i.log
            </fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>1000</maxIndex>
        </rollingPolicy>

        <triggeringPolicy
                class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>10MB</maxFileSize>
        </triggeringPolicy>

        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n
            </pattern>
        </encoder>

    </appender>

    <root level="INFO">
        <appender-ref ref="ROLLING_FILE"/>
    </root>

</configuration>